<%= render "layouts/header" %>

<h1>このアプリについて</h1>
<p>地域のお店を写真とコメントで共有し、寄り道ポイントの発見を促進するためのサイトになります。</p>
<%#= image_tag 'about_image.jpg, alt: '' %>
<ul>
  <li>画像付き投稿で魅力を伝える</li>
  <li>フォロー・いいねでおすすめを広げる</li>
  <li>通報・管理機能で安心して使える</li>
</ul>