<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= I18n.t("errors.messages.not_saved") %>
    </h2>
    <ul>
      <% resource.errors.each do |attribute, message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
